// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-theme {
  margin-left: 10px;
  margin-right: 10px;
}

.item-list{
  margin-left: 80px;
}

span.order-item {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#error-info{
  background-color: #e03f3f5b;
}